---
import "flowbite";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import { profile } from "../../settings";
import ProfilePictures from "@/assets/profile_pictures.jpg";
import CvTimeline from "../../components/ui/CvTimeline.astro";
import PublicationItem from "../../components/ui/PublicationItem.astro";
import EducaionItem from "../../components/ui/EducationItem.astro";
import ExperienceItem from "../../components/ui/ExperienceItem.astro";
import { locales, getMessages, getTranslations } from "../../i18n";
import { _getStaticPaths, GetIntroduction } from "../../i18n";
import { List, ListItem } from "@/components/ui/list";
const { fullName, title, institute } = profile;
const { locale } = Astro.params;
const messages = getMessages(locale);
const Introduction = GetIntroduction(locale);
import { experiences, education, skills, publications } from "../../data/cv";
export const getStaticPaths = _getStaticPaths; // 必須
---

<Layout locale={locale}>
	<!-- Hero Section -->
	<section class="flex items-center gap-12 pb-12">
		<div class="flex-1">
			<Introduction />
		</div>
	</section>

	{
		education.length > 0 && (
			<section class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2">
					{messages.common.education}
				</h1>
				<CvTimeline
					elements={education}
					locale={locale}
					ChildItem={EducaionItem}
				/>
			</section>
		)
	}

	{
		experiences.length > 0 && (
			<section class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2">
					{messages.common.experiences}
				</h1>
				<CvTimeline
					elements={experiences}
					locale={locale}
					ChildItem={ExperienceItem}
				/>
			</section>
		)
	}

	{
		publications.length > 0 && (
			<section class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2">
					{messages.common.publications}
				</h1>
				<List>
					{publications.map((item) => (
						<PublicationItem item={item} locale={locale} />
					))}
				</List>
			</section>
		)
	}
</Layout>
