---
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";
import CvTimeline from "../../components/ui/CvTimeline.astro";
import SocialIcons from "../../components/ui/SocialIcons.astro";
import PublicationItem from "../../components/ui/PublicationItem.astro";
import AwardItem from "../../components/ui/AwardItem.astro";
import EducaionItem from "../../components/ui/EducationItem.astro";
import ExperienceItem from "../../components/ui/ExperienceItem.astro";
import { locales, getMessages, getTranslations } from "../../i18n";
import { _getStaticPaths, GetIntroduction } from "../../i18n";
const { locale } = Astro.params;
const messages = getMessages(locale);
const Introduction = GetIntroduction(locale);
import { experiences, education, publications, AWARDS } from "../../data/cv";
export const getStaticPaths = _getStaticPaths; // 必須
---

<Layout locale={locale}>
	<!-- Hero Section -->
	<section class="mb-12">
		<h1 class="text-4xl font-bold mb-6 border-b pb-2">
			<i class="fa-solid fa-user"></i>{messages.common.introduction}
		</h1>
		<Introduction />
		<!-- <div class="flex mt-2">
			<h2 class="text-2xl mr-2">
				{messages.common.links}
			</h2>
			<SocialIcons class="w-52" />
		</div> -->
	</section>

	{
		education.length > 0 && (
			<section id="education" class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2">
					<i class="fa-solid fa-graduation-cap" />
					{messages.common.education}
				</h1>

				<CvTimeline
					elements={education}
					locale={locale}
					ChildItem={EducaionItem}
					color_category="info"
				/>
			</section>
		)
	}

	{
		experiences.length > 0 && (
			<section id="experiences" class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2">
					<i class="fa-solid fa-briefcase" />
					{messages.common.experiences}
				</h1>
				<ul class="list">
					{experiences.map((item) => (
						<ExperienceItem item={item} locale={locale} />
					))}
				</ul>
			</section>
		)
	}

	{
		publications.length > 0 && (
			<section id="publications" class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2">
					<i class="fa-regular fa-file-lines" />
					{messages.common.publications}
				</h1>
				<ul class="list">
					{publications.map((item) => (
						<PublicationItem item={item} locale={locale} />
					))}
				</ul>
			</section>
		)
	}
	{
		AWARDS.length > 0 && (
			<section id="award" class="mb-12">
				<h1 class="text-4xl font-bold mb-6 border-b pb-2 flex">
					<i class="fa-solid fa-trophy" />
					{messages.common.awards}
				</h1>
				<ul class="list">
					{AWARDS.map((item) => (
						<AwardItem item={item} locale={locale} />
					))}
				</ul>
			</section>
		)
	}
</Layout>
