---
import type { Experience, Education } from "@/types/cv";
import type { AstroComponentFactory } from "astro";
import TimeDisplay from "@/components/ui/TimeDisplay.astro";
import HorizontalTimeline from "@/components/ui/HorizontalTimeline.astro";
interface Props {
	elements: (Experience | Education)[];
	locale?: string;
	ChildItem?: AstroComponentFactory;
}
const { elements, locale, ChildItem } = Astro.props;
const ORIGINAL_LIST = elements;
const REVERSED_LIST = [...ORIGINAL_LIST].reverse();
---

<!-- sm以上 -->
<div class="hidden sm:block">
	<HorizontalTimeline
		locale={locale}
		elements={elements}
		ChildItem={ChildItem}
		color_category="info"
	/>
	<!--↓ ver2 -->
	<!-- <ol class="flex">
		{
			ORIGINAL_LIST.map((element, index) => (
				<li class="relative mb-0 flex-1">
					<div class="flex items-center">
						<div class="z-10 flex items-center justify-center w-6 h-6 rounded-full ring-buffer ring-4 shrink-0 ring-info">
							<i class="fa-regular fa-calendar" />
						</div>
						<div class="flex flex-1 bg-info h-px" />
					</div>
					<div class="mt-3 pe-8">
						<TimeDisplay time={element.start} locale={locale} />
						<text class="text-2xl font-light relative top-1">
							–
						</text>
						<TimeDisplay time={element.end} locale={locale} />
						{ChildItem != null && (
							<ChildItem item={element} locale={locale} />
						)}
					</div>
				</li>
			))
		}
	</ol> -->
</div>

<!-- sm未満 -->
<!-- <div class="block sm:hidden">
	<ol class="relative border-s border-info">
		{
			REVERSED_LIST.map((element, index) => (
				<li class="mb-4 ms-6">
					<span class="absolute flex items-center justify-center w-6 h-6 rounded-full -start-3 translate-y-2 ring-4 ring-buffer ring-info">
						<i class="fa-regular fa-calendar" />
					</span>
					<TimeDisplay time={element.start} locale={locale} />
					<text class="text-2xl font-light relative top-0.5">–</text>
					<TimeDisplay time={element.end} locale={locale} />
					{ChildItem != null && (
						<ChildItem item={element} locale={locale} />
					)}
				</li>
			))
		}
	</ol>
</div> -->
