---
import { PERSON_DIC } from "@/data/person";
import { EPersonId } from "@/types/person";
import { EPublicationId } from "@/types/cv";
import { Icon } from "../ui/icon";
const MATSUBARA = PERSON_DIC[EPersonId.Matsubara];
const SAKURAI = PERSON_DIC[EPersonId.Sakurai];
---

<p class="break-words">
    私は大阪大学の博士後期課程１年目の学生であり,
    産業科学研究所（SANKEN）にて特任研究員を務めています.<br />
    現在は同研究所にて，<a class="link link-primary" href={SAKURAI.Homepage}
        >{SAKURAI.JapanName}教授</a
    >および<a class="link link-primary" href={MATSUBARA.Homepage}
        >{MATSUBARA.JapanName}教授</a
    >にご指導を受けています．
</p>
<p class="break-words">
    研究テーマは主に，ベイズによるイベントテンソル分解 <a
        class="link link-primary"
        href=`#publication-${EPublicationId.HeteroComp}`
        >[{EPublicationId.HeteroComp}]</a
    >に取り組んでいます．
</p>
<p class="break-words">
    学士号および修士号は，櫻井保志教授のご指導のもと，それぞれ 2024
    年3月および2026 年 3 月に取得いたしました．
</p>
<div class="flex">
    <Icon name="download" class="mr-1" />
    <p>
        履歴書は <a
            class="link link-primary"
            href="https://kaki005.github.io/CV/cv_ja.pdf">こちら</a
        >でダウンロードできます.
    </p>
</div>
