---
import { PERSON_DIC } from "@/data/person";
import { EPersonId } from "@/types/person";
import { EPublicationId } from "@/types/cv";
import { Icon } from "../ui/icon";
const MATSUBARA = PERSON_DIC[EPersonId.Matsubara];
const SAKURAI = PERSON_DIC[EPersonId.Sakurai];
---

<p class="break-words">
    I am Soshi Kakio, a second-year M.Sc. student at The University of Osaka,
    Japan, and a specially appointed researcher at SANKEN (The Institute of
    Scientific and Industrial Research at The University of Osaka).<br />
    I am fortunate to be advised by <a href={SAKURAI.Homepage}
        >Prof. {SAKURAI.EnglishName}</a
    > and <a href={MATSUBARA.Homepage}>Prof. {MATSUBARA.EnglishName}</a> at SANKEN.
</p>
<p class="break-words">
    My research mainly focuses on data stream mining and bayesian tensor
    decomposition [{EPublicationId.HeteroComp}].
</p>
<p class="break-words">
    I received my B.Sc. degrees from The University of Osaka advised by Prof.
    Yasushi Sakurai in March 2024.
</p>
<div class="flex">
    <Icon name="download" class="mr-1" />
    <p>
        Download my CV
        <a href="https://kaki005.github.io/CV/cv_en.pdf" class="ml-1"> here</a>.
    </p>
</div>
