---
import { isExperience } from "@/types/cv";
import type { Experience, Education } from "@/types/cv";
import { Icon } from "@/components/ui/icon";
import type { AstroComponentFactory } from "astro";
interface Props {
	elements: (Experience | Education)[];
	locale?: string;
	ChildItem?: AstroComponentFactory;
}
const { elements, locale, ChildItem } = Astro.props;
function formatDate(date: Date, lang: string) {
	return date.toLocaleDateString(lang === "ja" ? "ja-JP" : "en-US", {
		year: "numeric",
		// month: lang === "ja" ? "long" : "short",
		month: "long",
		// day: "numeric",
	});
}
const TIME_CLASS = "bg-neutral-secondary-medium border border-default-medium text-heading text-xs font-medium px-1.5 py-0.5 rounded"
---

<ol class="items-center sm:flex">
	{
		elements.map((element, index) => (
			<li class="relative mb-6 sm:mb-0 sm:flex-1">
				<div class="flex items-center">
					<div class="z-10 flex items-center justify-center w-6 h-6 bg-brand-softer rounded-full ring-0 ring-buffer sm:ring-4 shrink-0">
						<Icon name="calendar" />
					</div>
					<div class="hidden sm:flex flex-1 bg-blue-500 h-px" />
				</div>
				<div class="mt-3 sm:pe-8">
					<div>
						<time
							class={TIME_CLASS}
							datetime={element.start.toISOString()}
						>
							{formatDate(element.start)}
						</time>
						<span class="text-2xl font-light relative top-1 m-1">–</span>
						{element.end != null ? (
							<time
								class={TIME_CLASS}
								datetime={element.start.toISOString()}
							>
								{formatDate(element.end)}
							</time>
						): <time class={TIME_CLASS}>On</time>
						}
					{ChildItem != null && (
						<ChildItem item={element} locale={locale} />
					)}
				</div>
			</li>
		))
	}
</ol>
