---
import type { Education } from "@/types/cv";
interface Props {
    item: Education;
    locale?: string;
}
import { locales, getMessages, getTranslations } from "../../i18n";
import TimeDisplay from "@/components/ui/TimeDisplay.astro";
const { item, locale } = Astro.props;
const messages = getMessages(locale);
---

<h3 class="text-lg font-semibold text-heading my-2">
    {messages.Degree[item.degree].name}
</h3>
<TimeDisplay time={item.start} locale={locale} />
<text class="text-2xl font-light relative top-1">–</text>
<TimeDisplay time={item.end} locale={locale} />
<ol class="text-body mb-4">
    <li>
        {messages.Degree[item.degree].description}
    </li>
    <li>
        <i class="fa-solid fa-building-columns"></i>{
            messages.Facurity[item.facurity]
        }
    </li>
    <li>
        <i class="fa-solid fa-location-dot"></i>{
            messages.Location[item.location]
        }
    </li>
</ol>
