---
import type { Experience } from "@/types/cv";
interface Props {
    item: Experience;
    locale?: string;
}
import { locales, getMessages, getTranslations } from "../../i18n";
import TimeDisplay from "@/components/ui/TimeDisplay.astro";
const { item, locale } = Astro.props;
const messages = getMessages(locale);
---

<h2 class="text-2xl font-semibold text-heading my-2">
    {messages.Facurity[item.facurity]}
</h2>
<div class="flex h-6 items-center">
    <TimeDisplay time={item.start} locale={locale} />
    <text class="text-2xl m-1">–</text>
    <TimeDisplay time={item.end} locale={locale} />
</div>

<ol class="text-body mb-4">
    <li>
        {messages.Role[item.role]}
    </li>
    <li>
        <i class="fa-solid fa-location-dot"></i>{
            messages.Location[item.location]
        }
    </li>
</ol>
