---
import { Image } from "astro:assets";
import SocialIcons from "./SocialIcons.astro";
import ProfilePictures from "@/assets/profile_pictures.jpg";
import { getCollection } from "astro:content";
import { locales, getMessages, getTranslations } from "../../i18n";
import { getName } from "@/data/person";
import { EPersonId } from "@/types/person";
type Props = {
	locale?: string;
};
const { locale = "en" } = Astro.props;
const messages = getMessages(locale);
const isBlogPopulated = await getCollection("blog").then(
	(collection) => collection.length > 0,
);
const MY_NAME = getName(EPersonId.Me, locale);
---

<aside
	class="px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col"
>
	<div class="flex flex-col my-8 justify-between h-full">
		<div>
			<div class="flex justify-center items-center flex-col">
				<Image
					class="mask mask-circle size-44"
					src={ProfilePictures}
					alt={`Profile picture of ${MY_NAME}`}
				/>
				<h1 class="text-4xl font-black mt-8">
					{MY_NAME}
				</h1>
			</div>
			<div class="mx-4 mt-16">
				<ul class="space-y-4 menu grow shrink menu-md overflow-y-auto">
					<li>
						<a
							href={`${import.meta.env.BASE_URL}/${locale}`}
							class="text-3xl"
						>
							<i class="fa-solid fa-house"></i>
							{messages.common.home}
						</a>
					</li>
					<!-- <li>
						<a
							href={`${import.meta.env.BASE_URL}/research`}
							class="text-lg">Research</a
						>
					</li> -->
					<!-- <li>
						<a
							href={`${import.meta.env.BASE_URL}/${locale}/papers`}
							class="text-lg">{messages.common.publications}</a
						>
					</li> -->
					<!-- <li>
						<a
							href={`${import.meta.env.BASE_URL}/${locale}/cv`}
							class="text-lg">{messages.common.cv}</a
						>
					</li> -->

					<li>
						<a
							href={`${import.meta.env.BASE_URL}/${locale}/blog`}
							class="text-3xl"
						>
							<i class="fa-solid fa-blog"></i>
							{messages.common.blog}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="mx-4">
			<SocialIcons />
		</div>
	</div>
</aside>
