---
import { Image } from "astro:assets";
import SocialIcons from "./SocialIcons.astro";
import ProfilePictures from "@/assets/profile_pictures.jpg";
import { getCollection } from "astro:content";
import { locales, getMessages, getTranslations } from "../../i18n";
import { List, ListItem } from "@/components/ui/list";
import { getName } from "@/data/person";
import { EPersonId } from "@/types/person";
import { SOCIALS } from "@/data/socials";
import SocialIconItem from "./SocialIconItem.astro";
type Props = {
	locale?: string;
};
const { locale = "en" } = Astro.props;
const messages = getMessages(locale);
const isBlogPopulated = await getCollection("blog").then(
	(collection) => collection.length > 0,
);
const MY_NAME = getName(EPersonId.Me, locale);
const ICON_CLASS = "text-3xl text-black no-underline";
---

<aside
	class="px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col"
>
	<div class="flex flex-col my-8 justify-between h-full">
		<div>
			<div class="flex justify-center items-center flex-col">
				<Image
					class="mask mask-circle size-44"
					src={ProfilePictures}
					alt={`Profile picture of ${MY_NAME}`}
				/>
				<h1 class="text-4xl font-black mt-8">
					{MY_NAME}
				</h1>
			</div>
			<div class="mx-4 mt-16">
				<ul class="space-y-4 menu grow shrink menu-md overflow-y-auto">
					<li>
						<a
							href={`${import.meta.env.BASE_URL}/${locale}`}
							class={ICON_CLASS}
						>
							<i class="fa-solid fa-house"></i>
							{messages.common.home}
						</a>
					</li>
					<li>
						<a
							href={`${import.meta.env.BASE_URL}/${locale}/blog`}
							class={ICON_CLASS}
						>
							<i class="fa-solid fa-blog"></i>
							{messages.common.blog}
						</a>
					</li>
					{
						SOCIALS.map((icon) => (
							<li>
								<a href={icon.href} class=`${ICON_CLASS} flex`>
										<SocialIconItem item={icon}/>
										{icon.name}
								</a>
							</li>
						))
					}
				</ul>
			</div>
		</div>
	</div>
</aside>
