---
import { Image } from "astro:assets";
import type { Publication } from "@/types/cv";
import LinkedAuthorText from "@/components/ui/LinkedAuthorText.astro";
import SocialIconItem from "@/components/ui/SocialIconItem.astro";
import { locales, getMessages, getTranslations } from "../../i18n";
interface Props {
  item: Publication;
  locale: string;
}
const KEY_CLASS = "font-medium";
const { item, locale } = Astro.props;
const messages = getMessages(locale);
---

<li class="list-row">
  <div id=`publication-${item.id}`>
    <h2 class="text-lg font-bold mb-2">[{item.id}] {item.title}</h2>
    <dl class="grid grid-cols-[auto,1fr] gap-x-2 gap-y-1">
      <dt class={KEY_CLASS}>{messages.common.authors}</dt>
      <dd>{item.authors.map((author, i)=> <LinkedAuthorText isEnglish={item.isEnglish} person={author} isAppendComma={i < item.authors.length-1}/>)}</dd>

      {item.conference != null &&(
        <dt class={KEY_CLASS}>{messages.common.conference}</dt>
        <dd>
          <a href={item.url} class="link link-primary">{item.conference}</a>
        </dd>)
      }

      {item.accepted_num != null && (
        <dt class={KEY_CLASS}>{messages.common.accept_rate}</dt>
        <dd>{Math.round(1000*item.accepted_num / item.submit_num)/10}% ({item.accepted_num}/{item.submit_num})</dd>
      )}

      {item.links.length > 0 && (
        <dt class={KEY_CLASS}>{messages.common.links}</dt>
        <dd>
          <div>
          {item.links.map(link =>
            <div class="flex">
                <SocialIconItem item={link} class="translate-y-1"/>
                <a href={link.href} class="link link-primary flex">
                  {link.name}
                </a>
            </div>

          )}
          </div>
        </dd>
      )}
      <dt class={KEY_CLASS}>{messages.common.abstract}</dt>
      <dd>
          <div tabindex="0"  class="collapse collapse-arrow relative w-full">
            <div class="w-32 collapse-title"><text class=`relative w-full`>{messages.common.detail}</text></div>
            <div class="collapse-content text-sm">
              <p>{item.abstract}</p>
            </div>
          </div>
      </dd>

      {item.thumnail != null && (
        <dt class={KEY_CLASS}>{messages.common.thumnail}</dt>
        <dd><Image src={item.thumnail} alt="thumnail" class="relative w-full"/></dd>
      )}
    </dl>


  </div>
</li>
