---
import { SOCIALS } from "@/data/socials";
import { Icon } from "@/components/ui/icon";
const { class: className = "" } = Astro.props;
---

<div class=`flex flex-wrap justify-between items-center ${className}`>
	{
		SOCIALS.map((item) => (
			<a href={item.href}>
				{/* <i class={`${item.icon_id} fa-2x`} /> */}
				{item.color != null ? (
					<Icon
						name={item.icon_id}
						class="w-8 h-8 m-1"
						color={item.color}
					/>
				) : (
					<Icon name={item.icon_id} class="w-8 h-8 m-1" />
				)}
			</a>
		))
	}
</div>
